/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 20px;
    line-height: 32px;
    color: #333;
  }
  
  header {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2.5%;
    margin-bottom: 20px;
    background: white;
  }
  
  #nav {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2.5%;
    margin-bottom: 20px;
    color: #333;
    background: white;
  }
        
  #section {
    text-align: top;
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 25px;
    float: left;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 44%;
    height: 300px;
    background: white;
  }
  
  #aside {
    margin-right: 10%;
    margin-bottom: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    width: 35%;
    height: 300px;
    background: white;
  }

  #article {
    background: gray;
    margin-top: 10px;
    border-top: 30px;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background: gray
  }

  h3{
    background: white;
    padding: 17.5px ;
  }
  
  footer {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    clear: both;
    background: white;
  }
  
  p {
    margin-top: 10px;
    padding: 17.5px;
    clear: both;
    background: white;
  }